/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.bikebooking-period .col-form-label {
    padding-top: calc(.375rem + 1px);
    padding-bottom: calc(.375rem + 1px);
    margin-bottom: 0;
    font-size: inherit;
    line-height: 1.5;
}

.bikebooking-period a .date-period{
    font-size: 60%;
    padding-top: .3em;
    display: block;
}

.bikebooking-period .text-right{
    text-align: right;
}

.bikebooking-period .form-info{
    padding: 1em 0;
}

.bikebooking-period .bike-info{
    margin-bottom: 1em;
}

.bikebooking-period .alert .bike-info{
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 2px solid #ffede0;
}

.bikebooking-period .bike.fade{
    opacity: .2;
}

.bikebooking-period h4 .btn{
    float: right;
}

.bikebooking-period .bike{
    border-bottom: 2px solid #f9f9fa;
    padding-bottom: .5em;
    margin-bottom: 1em;
}

.bikebooking-period .bike-info .bike-info__attributes span{
    font-size: 90%;
}

.bikebooking-period .bike-info .bike-info__attributes ul{
    padding-left: 0;
}

.bikebooking-period .bike-info .bike-info__attributes li{
    float: left;
    margin-right: 1em;
    padding-right: .75em;
}

.bikebooking-period .bike-info .bike-info__attributes li:first-child{
    list-style-type: none;
    margin-left: 0;
}




.bikebooking-period .bike:last-child{
    border-bottom: 0;
}

.bikebooking-period .selected-items.alert{
    padding-bottom: 0;
}


.bikebooking-period .accessorie-info{
    margin-bottom: .5em;
    padding-bottom: .5em;
    border-bottom: 2px solid #ffffff;
}

.bikebooking-period .accessorie-info.first{
    border-top: 2px solid #ffffff;
    padding-top: .5em;
}



.bikebooking-period .accessorie-info h4{
    margin-bottom: 0;
}

.bikebooking-period .accessorie-info .btn{
    float: right;
}

.bikebooking-period .accessorie-info p{
    margin-bottom: 0;
}

.bikebooking-period .accessorie-info .desc{
    font-size: 90%;
}


.bikebooking-period .accessorie-info.selected{
    border-top: 2px dashed #d44a00;
    border-bottom: 2px dashed #d44a00;
}

.bikebooking-period .accessorie-info.selected{
    border-top: 2px dashed #d44a00;
    border-bottom: 2px dashed #d44a00;
}

.bikebooking-period .alert-inner{
    background-color: #ffffff;
    border-color: #ffdec7;
    color: inherit;
}
